*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #121213;

}
.loader
{
    position: relative;
    -webkit-box-reflect: below-28px linear-gradient
    (transparent,#0002);

}
.loader::before
{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: #03e9f4;
    animation: blinkcukrsor 0.8s steps(3) infinite;

}
@keyframes blinkcukrsor
{
    0%,75%
    {
        opacity: 1;
    }
    76%,100%
    {
        opacity: 0;
    }
}

.loader h2{
    position: relative;
    color: #03e9f4;
    letter-spacing: 5px;
    font-size: 4em;
    text-transform: uppercase;
    animation: typing 8s steps(23) infinite;

}
@keyframes typing
{
    0%,90%,100%
    {
        width: 0;
    }
    30%,60%
    {
        width: 292.39px;
    }
}


@import url('http://font.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;

}
section
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(pexels-codioful-6985045.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px;

}
.container
{
    position: relative;
    width: calc(100% - 100px);
    min-height: calc(100vh -280px);
    min-height: 300px;
    background: rgba(255,255,255,0.5);
    box-shadow:0 15px 35px rgba(0,0,0,0.05);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 50px;
  display: flex;
}
header
{
    position: absolute;
    top: -40px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,0.2);
    box-shadow: 0 15px 35px rgba(0,0,0,0.05);
    border-radius: 20px;
    backdrop-filter:blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);

}
header .logo
{
    color: #8a2435;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;

}
header ul
{
    display: flex;

}
header ul li
{
    list-style: none;
    margin: 0 10px;

}
header ul li a
{
    text-decoration: none;
    font-weight: 500;
    color: #8a2435;
    padding: 8px 15px;
    border-radius: 25px;

}
header ul li a:hover,
header ul li a.active
{
    background: #fff;
    box-shadow: 0.5px 10px rgba(0,0,0,0.1);

}
.content
{
    transform: translateX(-100px);
    max-width: 700px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    border-radius: 20px;
    backdrop-filter:blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    padding: 40px;
    padding-left: 110px;

}
.content .loader h2
{
    font-size: 3em;
    color: #8a2435;

}
.content p
{
    font-size: 1.2em;
    color: #8a2435;

}
.content a
{
    display: inline-block;
    padding: 15px 30px;
    background: #fff;
    color: #8a2435;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);

}
.imgBx img
{
    max-width: 400px;
    animation: animate 5s linear infinite;
}
@keyframes animate
{
    0%,100%
    {
        transform: translateY(50px);
    }
    50%
    {
        transform: translateY(100px);
    }
}
.sci
{
    position: absolute;
    right: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.sci li
{
    list-style: none;

}
.sci li a 
{
    text-decoration: none;
    width: 50px;
    height: 50px;
    background: #fff;
    display: flex;
    justify-items: center;
    align-items: center;
    border-radius: 50%;
    margin: 5px 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);

}
.sci li a img
{
    transform: scale(0.6);
    transition: 0.5s;

}
.sci li:hover a img
{
    transform: scale(0.6) rotate(360deg);

}
.copyrightText
{
    position: absolute;
    bottom: 30px;
    left: 50px;
    color: #8a2435;

}
